/* Elastislide Style */
/*--.es-carousel-wrapper{
	background: #101010;
	padding:10px 27px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
	-moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	position:relative;
	margin-bottom:20px;
}--*/
.es-carousel-wrapper{
	position: relative;
	padding: 0px 30px;
	background: #000;
}
.es-carousel{
	overflow: hidden;
	background: #000;
	
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
	padding-right: 33px;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#222;
	opacity:0.8;
	width:100px;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a{
	border-color:#fff;
	opacity:1.0;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:8px;
	background:transparent url(../images/nav_thumbs.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:8px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}

.es-carousel ul{
					display:block;
				}






.rg-image-wrapper{
	position:relative;
	padding:20px 30px 70px;
	background:#424147;
	
	min-height:20px;
}
.rg-image{
	position:relative;
	text-align:center;
	
}
/*--.rg-image img{
	max-height:100%;
	max-width:100%;
}--*/
#rg-gallery{
	position:relative;
}
.rg-thumbs{
	position: absolute;
bottom: -49px;
z-index: 9999;
width: 100%;
}
.rg-image-nav a{
position: absolute;
top:35%;
left: 0px;
background: #000 url(../images/img-sprite.png) no-repeat -18px -15px;
width: 46px;
height: 100px;
text-indent: -9000px;
cursor: pointer;

outline: none;

}
.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:-55px -15px;
	
}
.rg-image-nav a:hover{
	
}

/*--.es-nav-prev span {
position: absolute;
width: 46px;
height: 100px;
text-indent: -9999px;
background: url(../images/img-sprite.png) no-repeat 0 0;
top: 50%;
margin-top: -40px;
z-index: 2;
cursor: pointer;
}
.es-nav span.es-nav-prev {
background-position: -15px -15px;
left: 0px;
}
.es-nav-next span {
position: absolute;
width: 46px;
height: 100px;
text-indent: -9999px;
background: url(../images/img-sprite.png) no-repeat 0 0;
top: 50%;
margin-top: -40px;
z-index: 2;
cursor: pointer;
}
.es-nav span.es-nav-next {
background-position: -55px -15px;
right: 0px;
}--*/
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p{
	font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	height:30px;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	
	border:3px solid #000;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#828282;
	border-color:#000;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../images/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}
